html {
    background-color: #4aa1ff;
    height: 100%;
    border: double;
    border-style: solid;
    border-width: thick;
    border-bottom: thick;
}

#map {
    height: 80%;
    width: 100%;

}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

span {
    display: flex;
    justify-content: center;
}

.gm-style-iw .user_info {
   width: 350px !important;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 10px 10px; // apply 10px to the bottom corners of the infowindow
}

gm-style-iw .user_info img{
    height: 100%;
    width: 100%;
}