#map-canvas {
    width: 100vw;
    height: 85vh;
    padding: 15px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4aa1ff;
    font-size: large;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: white;
}

.user_info {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    padding: 100%;
    margin: 10px;
    border: #4aa1ff;

}

