# Created by .ignore support plugin (hsz.mobi)

private/secrets.py
.idea/dataSources/5baa6721-46c6-462d-81cf-d9beb2f5f707/_src_/
.idea/dataSources/5baa6721-46c6-462d-81cf-d9beb2f5f707/_staging_/
.idea/dataSources/ef36d9fb-86c3-408e-9ff2-e38ac684335b/_src_/
.idea/dataSources/ef36d9fb-86c3-408e-9ff2-e38ac684335b/_staging_/
accounts/migrations/
events/migrations/
places/migrations/
private/__pycache__/
templates/app/
db.sqlite3
pytest.ini
.coveragerc
Capstone_TWF/test_settings.py
static/accounts/
static/events/
static/places/
